@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,600&display=swap');

html, body {
    font-family: "Josepin Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#aquarium {
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),
                      url("../img/aquariums/aquarium1.svg");
    background-size: cover;
    background-position: bottom;
    height: 100%;
}

img {
    position: relative;
    width: 100px;
    transform: rotateY(180deg);
    transition: all 3s ease, transform .2s ease;
}

#feeding-keyboard {
    position: fixed;
    bottom: 8px;
    left: 8px;
}